.logo-container {
    grid-area: logo;
    animation: logo-spin infinite 5s linear;
    
}

.slow {
  animation-play-state: paused;
}

.fast {
  animation-play-state: running;
}

.logo {
  position: relative;
  margin-top: 20px;
  animation: logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  
}
.logo-favotit {
  
  margin: 9px 0;
  height: 8vmin;
  pointer-events: none;
  position: absolute;
  left: -40px;
  top: 55px;
}


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 500px) {
    .logo-favotit{
      left: -30px;
      top: 45px;
    }
  }