.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    transition-delay: 1s;
  }
  
  .modal-container {
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 120px;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgb(214, 214, 214);
  }
  
  .modal-close {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #990000;
    color: #fff;
  }
  
  .modal.is-open {
    display: flex;
  }